<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Software Programming Quiz</title>

        <link rel="stylesheet" href="./css/account-profile.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	</head>
    
	<body>
        <rowbox>
            <!-- Nav Bar -->
            <div class="header">
                <h1>Software Programming Quiz</h1>
            </div>

                <div class="col-2 menu">
                    <div>
                        <ul>
                            <li><a href="/">Home</a></li>
                            <li><a href="/login">Login</a></li>
                        </ul>
                    </div>
                </div>

            <div class="account">
                
                <h1>Reset Password</h1>
                <br>

                <p><b><ins>Selected Security Question</ins></b></p>
                <P id = question-fill> error </P>
                <form name ="reset_ques" action="/reset_ques"  method="post">

                    <!-- answer -->
                    <rowbox>
                        <label for="acctans">Security Question Answer:</label>
                        <input type="text" name="acctans" id="acctans">
                    </rowbox>

                    <rowbox>
                        <label for="newpass">New Password:</label>
                        <input type="password" name="newpass" id="newpass">
                    </rowbox>

                    <!-- hidden field to pass the username -->
                    <input type="hidden" name="acctuser" id="acctuser" value="">

                    <span style="padding: 0px 0px 10px 0px;"></span>
                    <span id="createError" style="color:red; font-weight: bold; text-align: center; padding: 0px 0px 10px 0px;"></span>

                    <!-- submit -->
                    <input type="submit" value="Submit">
                </form>
            </div>
        </rowbox>
	</body>

    <script>
        var lookup_question = "<%= profile_data[5] %>";
        var lookup_user = "<%= profile_data[0] %>";

        //fill fields with input parameter data
        var div = document.getElementById("question-fill");
        div.innerHTML = lookup_question;

        document.getElementById("acctuser").value = lookup_user;
        
    </script>
</html>
