<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,minimum-scale=1">

		<title>Forgot Password - Login</title>

        <link rel="stylesheet" href="./css/account-profile.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

	</head>
    
	<body>
		<div class="header">
			<h1>Software Programming Quiz</h1>
		</div>
		<div class="col-2 menu">
			<div>
				<ul>
					<li><a href="/">Home</a></li>
					<li><a href="/login">Login</a></li>
				</ul>
			</div>
		</div>

		<rowbox>
			<div class="login">
				<!-- titles -->
				<h1>Forgot Password</h1>
				<h2>Enter Account Username</h2>

				<!-- form  -->
				<form action="/reset_login" method="post">
					
					<div class = "column">
					<!-- username -->
					<rowbox>
					<label for="username">
						<i class="material-icons">person</i>
					</label>

					<input type="text" name="username" placeholder="Username" id="username" required>
					</rowbox>

					</div>

					<!-- error message display -->                
					<span id="createError" style="color:red; font-weight: bold"></span>

					<!-- submit -->
					<input type="submit" value="Submit">

				</form>
			</div>
		</rowbox>
	</body>

	<!-- display error messages that are passed in URL parameters -->
	<script>
        const currentUrl = window.location.search; // current URL
        const urlParams = new URLSearchParams(currentUrl); // URL parameters
        let err_code = urlParams.get('error'); // isolate error value 
        const div = document.getElementById("createError");
        switch (err_code) { 
                case "query":
                    div.innerHTML = "No account found!";
                    break;
                  
                case "login":
                div.innerHTML = "Please fill all required fields!";
                break;

              // add more error messages here

                default:
                    div.innerHTML = "";
                    break;
        };
    </script>
</html>
