<!DOCTYPE html>
<html>

<head>
    <title>Software Programming Quiz: Quiz Expired</title>
    <meta name="description"
        content="The software programming quiz project is a website that allows employers to assess potential candidates.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <!-- This is the header section for the page -->
    <div class="header">
        <h1>Software Programming Quiz</h1>
    </div>

    <div class="row container-fluid">
            <!-- Nav Bar -->
            <div class="col-3 menu">
                <div>
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/create-quiz"></a>Create Quiz</li>
                    </ul>
                </div>
            </div>
            <div class="col-8"> 
            <p class="centered-paragraph validation">It looks like the quiz you are attempting to access is past its expiration date.
                <br/><br/> 
                Thank you.
            </p>
        </div>
    </div>

</body>

</html>