/************************************************************************
* Project: Software Programming Quiz
* Author: Li, Feng, Tauiliili
* Created: 2024-02-17
* Last Updated: 2024-02-17
* Purpose: Styles specific to the ranktable.sortableed quizzes view
************************************************************************/

table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #ddd;
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 18px;
}

table#quiz-details th, table#quiz-details tr {
    border: 1px solid black;
}

table.sortable th {
    text-align: left;
    background-color: #3295f7;
    color: white;
}

#ranked-results tr:nth-child(even) {
    background-color: #f2f2f2;
}

#ranked-results tr:hover {
    background-color: #81b1df;
}

/* Style inputs, select elements and textareas */
.view-quiz-btn {
    background-color: #1e90ff !important;
    border-radius: 20px !important;
}

.sort-btn-container {
    display: flex;
    justify-content: space-between;
}

/* unvisited link */
a:link {
    color: rgb(89, 182, 232);
}

/* visited link */
a:visited {
    color: rgb(17, 0, 128);
}

/* mouse over link */
a:hover {
    color: rgb(126, 161, 37);
}

/* selected link */
a:active {
    color: blue;
}