/* The Modal (background) */
.modal {
    display: none;
    /* Hidden by default */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    background: rgba(0, 0, 0, 0.5);;
}

/* Modal Content/Box */
.modal-content {
    margin: 50% auto;
    /* 50% from the top and centered */
    padding: 10% 5% 10% 5%;
    width: 30%;
    /* Could be more or less, depending on screen size */
}

.modal:after {
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
}

/* Modal Submit*/
.modal-submit {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
    font-size: 18px;
    margin-top:10px;
    width: 100%;
  }
  
 .modal-submit:hover {
    background-color: #008CBA; /* Blue */
    color: white;
  }

  /* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}